<a href="https://colab.research.google.com/github/sprabhala-cpu/deakin-project/blob/main/concatinating_and_data_cleaning_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df1=pd.read_csv('/content/drive/MyDrive/final cleaned/2004.csv')

In [7]:
df2=pd.read_csv('/content/drive/MyDrive/final cleaned/2005.csv')

In [8]:

df3=pd.read_csv('/content/drive/MyDrive/final cleaned/2006.csv')

In [9]:
df4=pd.read_csv('/content/drive/MyDrive/final cleaned/2007.csv')

In [12]:
df=pd.concat([df1,df2,df3,df4])

In [19]:
df.to_csv('/content/drive/MyDrive/final cleaned/final.csv')

In [21]:
data=pd.read_csv('/content/drive/MyDrive/final cleaned/final.csv',parse_dates=['date_time'])

In [24]:
data.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [25]:
data

                  date_time  Ampl, Re  (NWC)  ...  Ampl, Re  (JJY)  phase, Re (JJY)
0       2004-07-31 23:59:00            38.91  ...            63.74           124.08
1       2004-07-31 23:59:00            38.91  ...            64.03           124.08
2       2004-07-31 23:59:00            38.40  ...            64.29           124.23
3       2004-07-31 23:59:00            38.71  ...            64.23           124.08
4       2004-07-31 23:59:00            39.19  ...            64.16           124.08
...                     ...              ...  ...              ...              ...
6177535 2007-10-29 00:59:00             0.00  ...             0.00             0.00
6177536 2007-10-29 00:59:00             0.00  ...             0.00             0.00
6177537 2007-10-29 00:59:00             0.00  ...             0.00             0.00
6177538 2007-10-29 00:59:00             0.00  ...             0.00             0.00
6177539 2007-10-29 00:59:00             0.00  ...             0.00             0.00

[6177540 rows x 9 columns]

In [29]:
data.to_csv('/content/drive/MyDrive/final cleaned/final1.csv')